header{
    background-color: aliceblue;
    color: #faf6f6;
    display: flex;
}
.cabeçalho-imagem{
    width: 20%; 
}
.cabeçalho-lista-item{
    display: inline-block;
    margin: 0 16px; 
}
*{
    margin: 0 16px;
    padding: 0 24px 0;
}
